
#main{
    background-color: rgb(31, 31, 31);
    width:100%;
    height:100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    .box{
        width: 90%;
        margin:0 auto;
        overflow: hidden;
    }

    .box1{
        font-size: 15vw;
        color: rgb(255, 255, 255);
        font-weight: bolder;
        position: relative;
        text-wrap: nowrap;
        .box_point{
            background-color: rgb(31, 31, 31);
            position: absolute;
            width:100%;
            height: 3vh;
            bottom:0;
        }
    }
    .box2{
        background-color: white;
        height: 70vh;
        border-top-left-radius: 2px;
        border-top-right-radius: 100px;
        overflow: hidden;
        position: relative;
        img{
            width:100%;
            height:100%;
        }
        .main_logo{
            position: absolute;
            bottom:0;
            font-size: 8vw;
            font-weight: bolder;
        }
    }
}
/* 상단 메인 메뉴 */
.g_menu{
    width: 100%;
    position:absolute;
    top:0;
    left:0;
    background-color: rgb(167, 167, 167);
    padding:10px;

    nav{
        width: 100%;
        margin:0 auto;
        display: flex;
        justify-content:space-between;

        ul{
            display: flex;
            gap: 10px;
            li {
                :hover{
                    transition: all .3s;
                    color: rgb(248, 79, 79);
                }
            }
        }
    }
    
}

/* 공통 제목 */
.g_title{
    font-size: 30px;
    font-weight: bolder;
    text-align: center;
    padding-top:20px;
    padding-bottom: 50px;
}

/* 소개글  */
#introduce{
    .container{
        width:100%;
        box-sizing: border-box;
        ul {
            width: 100%;
            display: flex;
            gap:20px;
            text-align: center;

            li{
                .g_stack{
                    max-width: 50px;
                    min-width: 50px;
                    img{
                    width:100%;
                    display: block;
                }
                }
                
            }
        }
    }

}


#portfolio{
    background-color: rgb(211, 211, 211);
    .container{
        width: 90%;
        margin:0 auto;
        ul{
            display: flex;
            gap:10px;
            flex-wrap: wrap;
            li{
                width: 30%;
                .p_img{
                    height: 150px;
                    object-fit: cover;
                    box-sizing: border-box;
                    overflow: hidden;
                    img{
                        width:100%;
                    }
                }
                .title{
                    font-weight: bold;
                    font-size: 1.2rem;
                    margin-top:10px;
                    margin-bottom: 10px;
                }
                
            }
        }
    }
    
}

#contact{
    width:100%;
    height: 100vh;
    .g_form {
        width: 90%;
        margin: 0 auto;

        form{
             display: flex;
            flex-direction: column;
        }

        input{
            border: 1px solid #dcdcdc;
            padding:10px;
            width: 100%;
            border-radius: 2px;
            margin-bottom: 10px;
            box-sizing: border-box;
            
            :active{
                border:none;
            }
        }

        textarea{
            width:100%;
            border: 1px solid #dcdcdc;
            padding:10px;
            box-sizing: border-box;
            height: 300px;
            border-radius: 2px;
            resize: none;
        }
    }
}